schema/CV.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns:tei="http://www.tei-c.org/ns/1.0"
         xmlns:teix="http://www.tei-c.org/ns/Examples"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://joeytakeda.github.io/ns/"><!--
Schema generated from ODD source 2018-09-09T00:51:57Z. .
TEI Edition: Version 3.3.0. Last updated on
	31st January 2018, revision f4d8439
TEI Edition Location: http://www.tei-c.org/Vault/P5/Version 3.3.0/
  
--><!---->
   <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron"
           prefix="tei"
           uri="http://www.tei-c.org/ns/1.0"/>
   <define name="cv.mixedContent">
      <zeroOrMore>
         <choice>
            <text/>
            <ref name="title"/>
            <ref name="ref"/>
         </choice>
      </zeroOrMore>
   </define>
   <define name="cv">
      <element name="cv">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">root CV element; contains a cv.</a:documentation>
         <ref name="name"/>
         <ref name="email"/>
         <optional>
            <ref name="phone"/>
         </optional>
         <ref name="website"/>
         <oneOrMore>
            <ref name="section"/>
         </oneOrMore>
      </element>
   </define>
   <define name="name">
      <element name="name">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <ref name="cv.mixedContent"/>
         <ref name="cv.att.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="email">
      <element name="email">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <ref name="cv.mixedContent"/>
         <ref name="cv.att.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="phone">
      <element name="phone">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <ref name="cv.mixedContent"/>
         <ref name="cv.att.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="website">
      <element name="website">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <ref name="cv.mixedContent"/>
         <ref name="cv.att.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="section">
      <element name="section">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(a section of the CV.) an arbitrary section</a:documentation>
         <ref name="head"/>
         <optional>
            <ref name="cv.model.listLike"/>
         </optional>
         <attribute name="type">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="head">
      <element name="head">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <text/>
      </element>
   </define>
   <define name="degree">
      <element name="degree">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <ref name="name"/>
         <ref name="discipline"/>
         <ref name="institution"/>
         <ref name="cv.att.datable.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="discipline">
      <element name="discipline">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <text/>
      </element>
   </define>
   <define name="institution">
      <element name="institution">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <text/>
      </element>
   </define>
   <define name="listJobs">
      <element name="listJobs">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <oneOrMore>
            <ref name="job"/>
         </oneOrMore>
      </element>
   </define>
   <define name="job">
      <element name="job">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <zeroOrMore>
            <choice>
               <ref name="role"/>
               <ref name="class"/>
               <ref name="supervisor"/>
               <ref name="desc"/>
               <ref name="job_title"/>
               <ref name="workplace"/>
            </choice>
         </zeroOrMore>
         <sch:pattern xmlns:xi="http://www.w3.org/2001/XInclude"
                      xmlns:svg="http://www.w3.org/2000/svg"
                      xmlns:math="http://www.w3.org/1998/Math/MathML"
                      xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:jt="http://joeytakeda.github.io/ns/"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron">
                <sch:rule context="jt:job[@from]| jt:job[@to]">
                  <sch:let name="fromTokens" value="tokenize(@from,'-')"/>
                  <sch:assert test="every $q in  (@from | @to) satisfies count(tokenize($q,'-')) gt 1">
                    ERROR: All job dates should include the month.
                  </sch:assert>
                </sch:rule>
              </sch:pattern>
         <ref name="cv.att.datable.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="role">
      <element name="role">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <ref name="cv.mixedContent"/>
      </element>
   </define>
   <define name="class">
      <element name="class">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <ref name="cv.mixedContent"/>
      </element>
   </define>
   <define name="supervisor">
      <element name="supervisor">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <ref name="cv.mixedContent"/>
      </element>
   </define>
   <define name="desc">
      <element name="desc">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <ref name="cv.mixedContent"/>
      </element>
   </define>
   <define name="title">
      <element name="title">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <ref name="cv.mixedContent"/>
         <optional>
            <attribute name="level">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <choice>
                  <value>m</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>a</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               </choice>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="listReferences">
      <element name="listReferences">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <zeroOrMore>
            <ref name="reference"/>
         </zeroOrMore>
      </element>
   </define>
   <define name="reference">
      <element name="reference">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <ref name="cv.mixedContent"/>
      </element>
   </define>
   <define name="job_title">
      <element name="job_title">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <ref name="cv.mixedContent"/>
      </element>
   </define>
   <define name="workplace">
      <element name="workplace">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <ref name="cv.mixedContent"/>
      </element>
   </define>
   <define name="ref">
      <element name="ref">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <ref name="cv.mixedContent"/>
         <optional>
            <attribute name="target">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <data type="anyURI"/>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="listAwards">
      <element name="listAwards">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <oneOrMore>
            <ref name="award"/>
         </oneOrMore>
      </element>
   </define>
   <define name="listDegrees">
      <element name="listDegrees">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <oneOrMore>
            <ref name="degree"/>
         </oneOrMore>
      </element>
   </define>
   <define name="listPublications">
      <element name="listPublications">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <oneOrMore>
            <ref name="publication"/>
         </oneOrMore>
      </element>
   </define>
   <define name="listConferences">
      <element name="listConferences">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <oneOrMore>
            <ref name="conference"/>
         </oneOrMore>
      </element>
   </define>
   <define name="conference">
      <element name="conference">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <ref name="cv.mixedContent"/>
         <ref name="cv.att.datable.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="publication">
      <element name="publication">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <ref name="cv.mixedContent"/>
         <ref name="cv.att.datable.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="award">
      <element name="award">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <ref name="cv.mixedContent"/>
         <ref name="cv.att.datable.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="cv.att.datable.attributes">
      <ref name="cv.att.datable.attribute.to"/>
      <ref name="cv.att.datable.attribute.from"/>
      <ref name="cv.att.datable.attribute.when"/>
   </define>
   <define name="cv.att.datable.attribute.to">
      <optional>
         <attribute name="to">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="cv.att.datable.attribute.from">
      <optional>
         <attribute name="from">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="cv.att.datable.attribute.when">
      <optional>
         <attribute name="when">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="cv.att.global.attributes">
      <ref name="cv.att.global.attribute.xmlid"/>
      <ref name="cv.att.global.attribute.n"/>
   </define>
   <define name="cv.att.global.attribute.xmlid">
      <optional>
         <attribute name="xml:id">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <data type="ID"/>
         </attribute>
      </optional>
   </define>
   <define name="cv.att.global.attribute.n">
      <optional>
         <attribute name="n">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         </attribute>
      </optional>
   </define>
   <define name="cv.model.listLike">
      <choice>
         <ref name="listJobs"/>
         <ref name="listReferences"/>
         <ref name="listAwards"/>
         <ref name="listDegrees"/>
         <ref name="listPublications"/>
         <ref name="listConferences"/>
      </choice>
   </define>
   <start>
      <choice>
         <ref name="cv"/>
      </choice>
   </start>
   <ns xmlns="http://purl.oclc.org/dsdl/schematron"
       prefix="jt"
       uri="http://joeytakeda.github.io/ns/"/>
</grammar>
