schema/CV.rng

<?xml version="1.0" encoding="UTF-8"?>
<!--Initially generated automatically by oXygen from example; subsequently edited by hand-->
<grammar ns="http://github.com/joeytakeda/cv/ns" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="cv">
      <element name="name">
        <attribute name="id">
          <data type="NCName"/>
        </attribute>
        <text/>
      </element>
      <element name="email">
        <text/>
      </element>
      <optional>
        <element name="phone">
          <text/>
        </element>
      </optional>
      <interleave>
      <element name="education">
        <ref name="head"/>
        <oneOrMore>
          <element name="degree">
            <attribute name="from">
              <data type="integer"/>
            </attribute>
            <optional>
              <attribute name="to">
                <data type="integer"/>
              </attribute>
            </optional>
            <element name="degree_name">
              <text/>
            </element>
            <element name="discipline">
              <text/>
            </element>
            <element name="institution">
              <text/>
            </element>
          </element>
        </oneOrMore>
      </element>
      <element name="awards">
        <ref name="head"/>
        <oneOrMore>
          <element name="award">
            <attribute name="when">
              <data type="integer"/>
            </attribute>
            <text/>
          </element>
        </oneOrMore>
      </element>
      <element name="publications">
        <ref name="head"/>
        <oneOrMore>
          <element name="publication">
            <oneOrMore>
              <choice>
                <text/>
                <ref name="ref"/>
                <ref name="title"/>
              </choice>
            </oneOrMore>
          </element>
        </oneOrMore>
      </element>
      <element name="conferences">
        <ref name="head"/>
        <oneOrMore>
          <element name="conference">
            <oneOrMore>
              <choice>
                <text/>
                <ref name="ref"/>
                <ref name="title"/>
              </choice>
            </oneOrMore>
          </element>
        </oneOrMore>
      </element>
      <element name="teaching">
        <ref name="head"/>
        <oneOrMore>
          <ref name="job"/>
        </oneOrMore>
      </element>
      <element name="employment">
        <ref name="head"/>
        <oneOrMore>
          <ref name="job"/>
        </oneOrMore>
      </element>
      <element name="service">
        <ref name="head"/>
        <oneOrMore>
          <ref name="job"/>
        </oneOrMore>
      </element>
      </interleave>
      <element name="references">
        <ref name="head"/>
      </element>

    </element>

  </start>
  <define name="title">
    <element name="title">
      <optional>
        <attribute name="level">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the bibliographic level for a title. Taken from the TEI P5 Guidelines.</a:documentation>
          <choice>
            <value>a</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(analytic) the title applies to an analytic item, such as an article, poem, or other work published as part of a larger item.</a:documentation>
            <value>m</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(monographic) the title applies to a monograph such as a book or other item considered to be a distinct publication, including single volumes of multi-volume works</a:documentation>
            <value>j</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(journal) the title applies to any serial or periodical publication such as a journal, magazine, or newspaper</a:documentation>
            <value>s</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(series) the title applies to a series of otherwise distinct publications such as a collection</a:documentation>
            <value>u</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(unpublished) the title applies to any unpublished material (including theses and dissertations unless published by a commercial press)</a:documentation>
          </choice>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="ref"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="head">
    <element name="head">
      <text/>
    </element>
  </define>
  <define name="ref">
    <element name="ref">
      <attribute name="target">
        <data type="anyURI"/>
      </attribute>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <data type="anyURI"/>
    </element>
  </define>
  <define name="job">
    <element name="job">
      <optional>
        <attribute name="from">
          <choice>
            <data type="date"/>
            <data type="gYear"/>
            <data type="gMonth"/>
            <data type="gDay"/>
            <data type="gYearMonth"/>
            <data type="gMonthDay"/>
            <data type="time"/>
            <data type="dateTime"/>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="to">
          <choice>
            <data type="date"/>
            <data type="gYear"/>
            <data type="gMonth"/>
            <data type="gDay"/>
            <data type="gYearMonth"/>
            <data type="gMonthDay"/>
            <data type="time"/>
            <data type="dateTime"/>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="when">
          <choice>
            <data type="date"/>
            <data type="gYear"/>
            <data type="gMonth"/>
            <data type="gDay"/>
            <data type="gYearMonth"/>
            <data type="gMonthDay"/>
            <data type="time"/>
            <data type="dateTime"/>
          </choice>
        </attribute>
      </optional>
      <choice>
        <group>
          <element name="job_title">
            <text/>
          </element>
          <oneOrMore>
            <element name="workplace">
              <oneOrMore>
                <choice>
                  <text/>
                  <ref name="title"/>
                </choice>
              </oneOrMore>
            </element>
          </oneOrMore>
        </group>
        <group>
          <element name="role">
            <text/>
          </element>
          <element name="class">
            <text/>
          </element>
        </group>
      </choice>
      <optional>
        <element name="supervisor">
          <text/>
        </element>
      </optional>
      <optional>
        <element name="desc">
          <oneOrMore>
            <choice>
              <text/>
              <ref name="title"/>
            </choice>
          </oneOrMore>
        </element>
      </optional>
    </element>
  </define>
</grammar>
